<app-header-tab></app-header-tab>


<ion-content>

  <!--Creamos nuestra lista y a través de ngFor crearemos un bucle que recorrerá nuestro array de noticias. 
    Para obtener el array de noticias, llamaremos a la función getDatosArchivo de nuestro servicio-->
  <ion-list *ngFor = "let articulo of gestionDatos.getDatosArchivo()">
    
    <!--Cada elemento de la lista será un item-->
    <ion-item >             
      <ion-label>
        <!--Obtenemos el nombre y el título de la noticia-->
        <div style ="color:blue">{{articulo.source.name }}</div>
        <div style ="color:grey">{{articulo.title}} </div> 
      </ion-label>
     
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>